extends layout

block user
  include header

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        | 401: User is not authorized
      br
      p
        | Page you were trying to access can not be loaded until you first log on
        | with a valid user ID and password.
      a.btn.btn-large.btn-info(href="/")
        i.icon-home.icon-white Take Me Home