if user
  my-user(data-user="'#{user.local.email}'")  
ul.navbar-nav.nav.pull-right.user-options(ng-if="user")
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown') 
      | {{user}}
      b.caret
    ul.dropdown-menu
      li
        a(href="/hour-entry") Hour entry screen
      li
        a(href='/profile') Profile
      li
        a(href='/logout') Logout
ul.navbar-nav.nav.pull-right(ng-if="!user")
  li
    a(href='signup') Signup
  li.divider-vertical
  li
    a(href='login') Login