extends layout

block user
  include header

block content
  #hour-entry-screen.main.container(ng-controller="hourEntryCtrl")
    .well
      .row.text-center
        .mymain.col-sm-12
          .datepicker-wrapper
            .datepicker(ng-controller='DatepickerDemoCtrl')
              .prev
                ="Prev week "
                button(type="button" class="btn btn-default btn-sm" ng-click="myMove(1)")
                  i(class="glyphicon glyphicon-chevron-left")
              div(style='display: inline-block; min-height: 290px;')
                .well(ng-model='dt')
                    datepicker(min='minDate', show-weeks='showWeeks')
              .next
                button(type="button" class="btn btn-default btn-sm" ng-click="myMove(2)")
                  i(class="glyphicon glyphicon-chevron-right")
                =" Next week"
      .row(ng-controller='TimepickerDemoCtrl')
        .col-sm-3
          p Checkin time
          .timepicker(ng-model='mytimeIn', ng-change="countTotal()", style='display: inline-block;')
            timepicker(hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
            pre Time is: {{mytimeIn | date:'shortTime'}}
        .col-sm-3
          p Checkout time
          .timepicker(ng-model='mytimeOut', ng-change="countTotal()", style='display: inline-block;')
            timepicker(hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
            pre Time is: {{mytimeOut | date:'shortTime' }}
        .col-sm-3
          p Exclude time
          .timepicker(ng-model='excludeTime', ng-change="countTotal()", style='display: inline-block;')
            timepicker(hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
            pre Time is: {{excludeTime | date:'shortTime' }}
        .col-sm-3
          p Total
          div(ng-model='timeTotal', style='display: inline-block;')
            pre Time: {{timeTotal | date:'shortTime'}}
        .row
          .col-sm-12
            button.btn-info(type="button" class="btn btn-default" ng-disabled='disabled' ng-click='submitTime()') Save hours
    br
    .row
      .col-sm-12
        activity-table(data-user="user", data-update="updateView", data-year-month="currentYearMonth")