extends layout

block user
  if user
    ul.navbar-nav.nav.pull-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | #{user.local.email}
          b.caret
        ul.dropdown-menu
          li
            a(href='/logout') Logout
          li
            a(href='/profile') Profile
  if !user
    ul.navbar-nav.nav.pull-right
      li
        a(href='signup') Signup
      li.divider-vertical
      li
        a(href='login') Login

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        | Welcome to index page.
      if !user
        br
        span
          ="Please "
        a.btn.btn-large.btn-info(href="/login")
          i.icon-home.icon-white Login
        span
         =" or "
        a.btn.btn-large.btn-info(href="/signup")
          i.icon-home.icon-white Sign up
        span
          =" in order to use system."