doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')

    script(data-main="/javascripts/main.js", src="/lib/requirejs/require.js")
      
  
  body(ng-cloak="")    
    header#header(class="navbar navbar-inverse navbar-top", ng-controller='HeaderCtrl')
      ul.navbar-nav.nav
        li
          a.navbar-brand(href='/') Timetracker
      block user

    br
    br
    block content
