extends layout

block user
  ul.navbar-nav.nav.pull-right
    li
      a(href='signup') Signup

block content
  .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          | Login

         if message.length > 0 
          div(class='alert alert-danger') 
            | #{message}
        // LOGIN FORM
        form(action='/login', method='post')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Login
        hr
        p
          | Need an account? 
          a(href='/signup') Signup
        p
          | Or go 
          a(href='/') home
          | .

