extends layout

block user
  include header
  
block content
  h1.
    Month List
  ul
    each month, i in monthlist
      li
        | #{month.name} -         
        | #{month.hours} working hours