extends layout

block user
  include header
  
block content
  h1
    | Month List
  ul
    each product, i in products
      li
        | #{product.title} -         
        | #{product.description} product description