extends layout

block user
  include header

block content
  .main(ng-controller="UserCtrl")
    .mymain.col-sm-6.col-sm-offset-3.well
      .row
        .col-sm-4
          img(src="img/#{user.local.username}.png"  width="200px")
        .col-sm-8
          h3
            span.fa.fa-sign-in
              | Welcome #{user.local.username}!
          div     
            |e-mail: #{user.local.email} 
            if user.local.role
              | | role: #{user.local.role}
          ul
            li
              a(href="/hour-entry") Hour entry screen
            li
              a(href="/") Home page
          //button(type="submit" class="btn btn-default"  ng-click="userEdit()") Edit

      div(ng-controller='ModalUserCtrl')
        script#ModalContent(type='text/ng-template')
            <div class="modal-header">
            <h3>Edit</h3>
            </div>
            <div class="modal-body">
            <div class="row">
            <p> My text goes here </p>
            <p> {{item.email}} </p>
            <p> {{item.username}} </p>
            </div>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="disabled1" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        button(class="btn btn-default"  ng-click="open(#{user.local})" ) Edit        


