extends layout

block user
  include header

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        | Signup
       
      if message.length > 0 
        div(class='alert alert-danger') 
          | #{message}
      block user-info
        include user-form  
      br  

