div(ng-controller="InputCtrl") 
  form(action='/signup' method='post' name="userForm" novalidate)
    .form-group(ng-class='{"has-error" : submitted && userForm.name.$invalid}')
      label User name
      input.form-control(type="text" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="8" required)
      p.help-block(ng-show="submitted && userForm.name.$invalid") Name is required and should be 3-8 symbols  
    
    .form-group(ng-class='{"has-error" : submitted && userForm.email.$invalid}')
      label Email
      input.form-control(type="text" name="email"  ng-model="user.email" ng-pattern="EMAIL_REGEXP" required)
      p.help-block(ng-show="submitted && userForm.email.$invalid") Enter a valid email
    
      //.form-group(ng-class='{"has-error" : submitted && userForm.password.$invalid && !userForm.password.$pristine }')
      .form-group(ng-class='{"has-error" : submitted && userForm.password.$invalid}')
      label Password
      input.form-control(type="password" name="password" ng-model="user.password" ng-minlength="6" required)
      p.help-block(ng-show="submitted && userForm.password.$invalid") Please enter a valid password
    .form-group
      label 
        ="Role     "  
      select.input.form-control(name="role" ng-model="user.role" )
        option(value="developer") developer
        option(value="manager") manager
        option(value="tester") tester
        option(value="support") support

    image-upload(data-current="user.avatar", data-input-label="Browse", data-label="Select profile photo", data-name="avatar", resize-max-height="300", resize-max-width="250", resize-quality="0.7")    

    button.btn.btn-warning.btn-lg(type="submit" ng-click="submitForm($event)") Signup
  hr
  p
    | Already have an account?
    a(href='/login') Login
  p
    | Or go
    a(href='/') home
  .col-md-6
  br          

  h4 Date of birth
  .row
    .col-md-6
      p.input-group
        input.form-control(title="hjhhj" type='text', datepicker-popup='dd-MMMM-yyyy', ng-model='birth', is-open='opened', show-button-bar='false', datepicker-options='dateOptions', ng-required='true', close-text='Close')
        span.input-group-btn
          button.btn.btn-default(ng-click='open($event)')
            i.glyphicon.glyphicon-calendar
      

