/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  }*/
  .timepicker, .datepicker {
    display: inline-block;
  }
  .checkin-title {
    width: 200px;
    display: inline-block;
    text-align: center;
    min-height: 157px;
    //vertical-align: top;
  }

  .hidden {
    display: none;  
  }

  .active {
   display: compact;
 }


 pre {
  overflow: hidden !important;
}

.datepicker div{
  min-height: 50px !important;
}

.prev, .next {
  display: inline-block;
  vertical-align: top;
}

.datepicker-wrapper {
  position: relative;
}

.user-options {
  min-width: 150px;
}
.navbar-nav.user-options  li{
  float: none;
}
.user-options .dropdown-menu {
  background-color: rgb(230,230,230);
  padding: 0 0;
  line-height: 30px;
}
.user-options .dropdown-menu li a:hover{
  /*background-color: #5bc0de;*/
  background-color: rgb(200,200,205);
  border-color: #46b8da;
}

.wide-modal {
    width: 60%;
}
.modal-content {
  width: 800px;
}